* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*--GENERAL--*/

html, body {
	height: 100%;
}

.wrap {
	height: 80%;   
}

.form-control, .btn {
	border-radius: 0;
}

/*--NAV--*/

.navbar {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid black;
	margin: 0;
}
.navbar-category {
	float:none;
	text-align: center;
}
.dropdown {
	padding: 0;
}
.dropdown-menu {
	left: 10;
	width: 100%;
	text-align: center;
}

/*--FOOTER--*/

footer {
	height: 85px;
	background-color: #222;
	padding-top: 20px;
	text-align: center;
	color: #9D9D9D;	
}