* {box-sizing: border-box;}
/*--GENERAL--*/

.form-control, .btn {
	border-radius: 0;
}

/*--NAV--*/

.navbar {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid black;
	margin:0;
}
.navbar-category{
	float:none;
	text-align: center;
}
.dropdown {
	padding: 0;
}
.dropdown-menu {
	left:10;
	width:100%;
	text-align: center;
}

/*--LOGIN--*/

.form-signin-heading {
	font-size: 20px;
	margin-top: 5px;
}